name: Tests
on:
  push:
    branches: [main]
    paths-ignore: ['**/*.md']
  pull_request:
    branches: ['**']
    paths-ignore: ['**/*.md']

jobs:
  test:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3

      - name: Install deps
        run: bun install

      - name: Lint
        run: |
          bun lint &
          bun tsc &
          bun fmt:check &
          wait

      - name: Test
        run: bun test
